.image-thumbnail {
  min-width: 100px;
  height: 100px;
  object-fit: cover;
}

.text-contact {

    padding: 0 15px;
    font-size: 16px;
  color: #333;
}
.text-contact > p {
  margin: 0;
}

.modal.fade {
  transition: opacity 0.3s ease-in-out;
}
.modal-backdrop.fade {
  transition: opacity 0.3s ease-in-out;
}